/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.header {
  background-color: #800080; /* Roxo */
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 800px;
}

.header-title h1 {
  margin: 0;
  display: inline-block;
  padding: 10px;
  border-bottom: 3px solid white;
  margin-right: 20px;
}

.header-subtitle {
  font-size: 1.5em;
}

.create-group-button {
  background-color: #800080; /* Roxo */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.group-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 80%;
  max-width: 800px;
}

.group-item {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 25%;
}

.group-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.people-list {
  list-style: none;
  padding: 0;
}

.person-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.person-icon {
  font-size: 1.2em;
  margin-right: 5px;
}

.person-name {
  margin-right: 10px;
}

.request-entry-button {
  background-color: #800080; /* Roxo */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para o input de pesquisa e o botão + */
.search-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  max-width: 800px;
}

.search-input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px 0 0 5px;
  flex-grow: 1;
}

.search-button {
  background-color: #800080; /* Roxo */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}